@charset "utf-8";

body {
    font-family: 'Muli', sans-serif;
    color: #fff;
    background: rgb(20, 26, 40) url("images/bg-3.png") center/cover no-repeat padding-box;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

p {
    text-align: justify;
    margin: 0 0 20px;
}

a {
    color: #fbbc14;
    outline: none;
    text-decoration: none
}

a:hover, a:active, a:focus {
    color: #fff;
    text-decoration: none;
    outline: none
}

img {
    max-width: 100%
}

label {
    font-weight: 400
}

input[type="text"], input[type="password"], input[type="email"] {
    color: #fff;
    width: 100%;
    height: 46px;
    background: #0c0a05;
    border: 1px solid #0c0a05;
    padding: 0 15px;
    border-radius: 36px;
    font-size: 15px;
}

textarea {
    color: #fff;
    width: 100%;
    border: 1px solid #0c0a05;
    background: #0c0a05;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    font-size: 15px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, .form-container textarea:focus {
    border: 1px solid #f7b016
}

input[type="submit"], input[type="button"], button {
    background: #42bf8c;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 40px;
    border-radius: 50px;
    display: inline-block;
    padding: 0 40px;
    font-weight: 600;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    color: #fff;
    background-color: #f94d4e;
    /*background: rgb(175, 107, 28);*/
}

.loginwrappers table td a {
    color: #ffffff !important;
}

select {
    color: #fff;
    font-size: 13px;
    border: 1px solid #4E3E2A;
    border-radius: 4px;
    width: auto;
    background: #15120B;
    padding: 5px 20px 5px 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.wrapper, .headerwrap, .investmentwrap, .welcomewrap, .startedwrap, .lasttenstat, .featureswrap, .referralwrap, .paymenticons, .footerwrap, .inside_wrap, .loginpage {
    width: 100%;
    float: left;
}

.wrapper {
    /*max-width: 1500px;*/
    margin: 0 auto !important;
    /*float: none;*/
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.headerwrap {
    /*background: url(images/banner-bg.png) no-repeat center top;*/
    min-height: 920px;
    background-color: transparent;
}

.logowrap {
    width: 100%;
    float: left;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1c1910+0,0f0c07+100 */
    background-color: transparent;
    border-radius: 0px;
    padding: 10px 30px 15px;
}

.logo {
    width: 28%;
    float: left;
}

.navwrap {
    width: 69%;
    float: left;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navwrap ul {
    float: left;
    width: 100%;
    text-align: right;
}

.navwrap ul li {
    display: inline-block;
    padding: 0 10px;
    line-height: 34px;
}

.navwrap ul li a {
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    display: block;
}

.navwrap ul li a:hover {
    /*color: #eaa81c*/
}

.navwrap ul li.login {
    background: #42bf8c;
    /*border: 2px solid #9d4543;*/
    border-radius: 40px;
    padding: 0 25px;
}

.navwrap ul li.login:hover {
    background: #dc3545;
}

.navwrap ul li.login:hover a, .navwrap ul li.signup:hover a {
    color: #fff
}

.navwrap ul li.signup {
    background: transparent;
    border-radius: 40px;
    border: 1px solid #42bf8c;
    padding: 0 25px;
    color: #fff;
}

.navwrap ul li img {
    vertical-align: middle;
}

.navwrap ul li.signup:hover {
    /*background: #24211B;*/
    background: #dc3545;
    color: #fff;
    border-color: transparent;
}

.navwrap ul li.signup a {
    color: white;
}

.bannerwrap {
    width: 100%;
    float: left;
    padding: 100px 0 0 0;
}

.bannerleft {
    width: 50%;
    float: left;
}

.bannerright {
    float: left;
    width: 60%;
}

.bannerright h1 {
    font-size: 60px;
    line-height: 74px;
    text-transform: uppercase;
    margin: 0 0 30px;
    font-weight: 300;
}

.bannerright h1 span, .bannerright h2 span {
    color: #42bf8c;
    font-weight: 700;

}

.bannerright h2 {
    font-size: 36px;
    font-weight: 300;
}

.bannerright p {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 30px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
}

.bannerright a {
    background: #42bf8c;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.bannerright a:hover {
    background: rgb(175, 107, 28);
    color: #fff;
}

.features {
    overflow: hidden;
    margin-bottom: 30px;
}

.feature {
    float: left;
    width: 30%;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}


.feature img {
    display: block;
    margin: 0px auto;
}

.registered {
    width: 100%;
    float: left;
    padding: 30px 0 0 0;
}

.registered .left {
    width: 80%;
    float: left;
}

.registered .left h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0 15px;
    color: #177db6;
}

.registered .left h4 span {
    color: #eaa81c
}

.registered .left p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: left
}

.registered .right {
    width: 20%;
    float: right;
    text-align: right;
}

.investmentwrap {
    /*background: #268c94;*/
    background-size: cover;
    padding: 0 0 150px;
}

.statwrap {
    width: 100%;
    float: left;
    padding: 0px 0 0px;
    margin: -200px 0 0 0;
    background: #1e2738;
    border-radius: 36px 36px 0px 0px;
}

.content > .statwrap {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.statwrap h3, .statwrap p {
    color: #ffffff !important;
}

.trading-wrap {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;

}


.statbox {
    text-align: center;
    width: 365px;
    float: left;
    margin: 0px;
    border-radius: 36px;
    padding: 28px 0px 24px;
    flex: 1;
}

.statbox .icon {
    display: inline-block;
    margin: 0 0 10px;
    text-align: center;
}

.statbox h3 {
    color: #14110B;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 10px;
}

.statbox p {
    text-align: center;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color: #14110B;
    text-transform: uppercase;

}


.light {
    background: #268d94;
    border-radius: 0px;
}

.planswrap {
    width: 100%;
    float: left;
    padding: 20px 30px 90px 30px;
    background: #2B2417;
    border-radius: 0px 0px 36px 36px;
}


.planswrap h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 40px;

}

.planswrap h1 span {
    color: #42bf8c;
    font-weight: 700;
}

.planswrap h2 {
    /*color: #45439d;*/
    color: #268d94;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.planswrap h2 span {
    font-size: 30px;
    color: white;
    padding-left: 5px;
}

.planlistings {
    width: 100%;
    float: left;
    overflow: hidden;
}

.planswrap h2 a {
    background: #1e2738;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 36px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

.col {
    width: 543px;
    float: left;
    background: #201A10;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.col img {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.plans-top {
    float: right;
    width: 450px;
}


.col li {
    text-transform: uppercase;
    /*background: url(images/check.png) no-repeat left center;*/
    line-height: 30px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 26px;
    width: 50%;
    float: left;
}

.col li span {
    color: #45439d;
}

.col li .fa, .fas {
    color: #42bf8c;
}

.col2 {
    margin-left: 10px;
}


.calswrap {
    width: 100%;
    float: left;
    background: #0B222A;

}

.calculator-container {
    /*background: #1e2738 url(images/calc-bg.png) no-repeat center;*/
    background: #1e2738;
    overflow: hidden;
    padding: 0 3.5rem;
    margin-top: -230px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 26px;
}


.calswrap .icon {
    padding: 0 0 20px;
}

.calswrap h3 {
    margin: 0 0 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.calswrap h3 span {
    color: #1892d7;
    font-weight: 800;
}

.calinputs {
    float: left;
    padding: 30px 0 40px;
    width: 240px;
    margin-right: 30px;
}

.calinputs label {
    font-size: 18px;
    margin: 15px 0 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.calinputs input {
    border: none;
    width: 100%;
    height: 46px;
    border-radius: 36px;
    padding: 0 25px;
    font-size: 18px;
    color: #201A10;
    text-align: right;
    background: #ffffff;
}

.calresult {
    float: left;
    margin: 0px;
    border-radius: 15px;
    padding: 30px 20px;
    width: 203px;
    text-align: center;
}

.calresult h4 {
    margin: 6px 0 0px;
    font-size: 36px;
    font-weight: 700;
    /*color: #14110B;*/
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-right: 10px;
    padding-top: 10px;
}

.calresult p {
    text-align: center;
    margin: 0;
    /*color: #14110B;*/
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding-right: 0px;
    font-weight: 600;
}

.calswrap .action {
    float: left;
    padding: 10px 0 0 0;
}

.calswrap .action input {
    background: #f7b016;
    color: #fff;
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-radius: 40px;
}

.calswrap .action input:hover {
    background: #177db6;
    color: #fff
}

.planbox {
    background: #092838;
    box-shadow: 0 0 5px #00000096;
    margin: 0 0 15px;
    padding: 0px;
    border-radius: 0px;
    width: 100%;
    float: left;
    position: relative
}

.planleft {
    width: 30%;
    float: left;
    background: rgb(175, 67, 6);
    background: -moz-linear-gradient(top, rgba(175, 67, 6, 1) 0%, rgba(213, 110, 11, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(175, 67, 6, 1) 0%, rgba(213, 110, 11, 1) 100%);
    background: linear-gradient(to bottom, rgba(175, 67, 6, 1) 0%, rgba(213, 110, 11, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af4306', endColorstr='#d56e0b', GradientType=0);
    padding: 15px;
    margin-right: 2%;
    text-align: center;

}

.planbox1 .planleft {
    background: rgb(35, 116, 138);
    background: -moz-linear-gradient(top, rgba(35, 116, 138, 1) 0%, rgba(43, 151, 169, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(35, 116, 138, 1) 0%, rgba(43, 151, 169, 1) 100%);
    background: linear-gradient(to bottom, rgba(35, 116, 138, 1) 0%, rgba(43, 151, 169, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23748a', endColorstr='#2b97a9', GradientType=0);
}


.planbox2 .planleft {
    background: rgb(255, 134, 7);
    background: -moz-linear-gradient(top, rgba(255, 134, 7, 1) 0%, rgba(255, 178, 13, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 134, 7, 1) 0%, rgba(255, 178, 13, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 134, 7, 1) 0%, rgba(255, 178, 13, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8607', endColorstr='#ffb20d', GradientType=0);
}

.planbox3 .planleft {
    background: rgb(55, 128, 19);
    background: -moz-linear-gradient(top, rgba(55, 128, 19, 1) 0%, rgba(76, 162, 34, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(55, 128, 19, 1) 0%, rgba(76, 162, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(55, 128, 19, 1) 0%, rgba(76, 162, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378013', endColorstr='#4ca222', GradientType=0);
}

.planbox4 .planleft {
    background: rgb(29, 69, 82);
    background: -moz-linear-gradient(top, rgba(29, 69, 82, 1) 0%, rgba(35, 110, 132, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(29, 69, 82, 1) 0%, rgba(35, 110, 132, 1) 100%);
    background: linear-gradient(to bottom, rgba(29, 69, 82, 1) 0%, rgba(35, 110, 132, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4552', endColorstr='#236e84', GradientType=0);
}

.planleft .icon {
    float: left;
    width: 30%;
}

.planleft .planname {
    float: left;
    width: 100%;
}

.planleft .planname h4 {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0 0 5px;
    font-weight: 400;
    font-family: 'Fjalla One', sans-serif;
}

.planleft .planname h5 {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Fjalla One', sans-serif;
    margin: 0 0 5px;
}

.planleft .planname p {
    margin: 0;
    color: white;
    padding: 0 0 0 24px;
    font-size: 16px;
    background: url(images/check.png) no-repeat left center;
    background-size: 20px auto;
    font-weight: 600;
}

.planright {
    width: 60%;
    float: right;
    background: #041924;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 12px;
    margin-right: 38px;
    font-weight: 600;
}

.planright ul {
}

.planright ul li {
    width: 50%;
    float: left;
    line-height: 32px;
    padding: 0 0 0 30px;
    background: url(images/check.png) no-repeat left center;
    background-size: 20px auto;
}

.welcomewrap {
    padding: 40px 0 450px;
    /*background: #393020 url(images/feat-bg.jpg) no-repeat left center;*/
    /*background: #268c94;*/
    background: rgb(60, 126, 95);
    background: linear-gradient(124deg, rgba(60, 126, 95, 1) 0%, rgba(38, 140, 148, 1) 45%);
    background-size: cover;
}

.aboutwrap {
    padding: 40px 0 50px;
    background: #393020 url(images/feat-bg.jpg) no-repeat left center;
    background-size: cover;
}

.welcocmeleft {
    width: 55%;
    float: left;
}


.welcomeright {
    width: 45%;
    float: left;
    text-align: left;
    text-align: center;
}

.welcocmeleft h1, h3.sectionhead, .deposit_text, .refheader {
    font-size: 30px;
    /*color: #45439d;*/
    margin: 0 0 20px;
    font-weight: 400;
}

.welcocmeleft h1 span {
    color: #ffffff;
    font-weight: 600;
}

.welcocmeleft h3 {
    font-size: 18px;
    margin: 0 0 15px;
    font-weight: 400;
    color: #eda70f;
}

.welcocmeleft p {
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 24px;
    font-weight: 500;
}

.startedwrap {
    padding: 50px 0;
    background: #092838 url(images/started-bg.jpg) no-repeat center;
    background-size: cover;
}

.startedbox.odd {
    float: left;
}

.startedbox.even {
    float: right
}

.startedbox {
    width: 48%;
    position: relative;
    margin: 35px 0 0 0;
    min-height: 230px;
}

.startedbox .icon {
    width: 76px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    background: url(images/featurednumbg.html) no-repeat center center;
    font-size: 30px;
    font-weight: 700;
    color: #138ed3;
    margin: -90px auto 0 auto;
}

.startedbox .left {
    width: 75%;
    float: right;
    padding: 0 0px 0 30px;
}

.startedbox h3 {
    color: white;
    font-size: 18px;
    margin: 5px 0 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.startedbox .left p {
    margin: 0;
    font-weight: 500;
}

.startedbox .right {
    width: 25%;
    float: left;
}


.features-inner {
    border-radius: 36px;
    /*background: #090704 url(images/feat-middle.png) no-repeat center center;*/
    background-color: #1e2738;
    overflow: hidden;
    margin-top: -400px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.features-inner h2 {
    background: #1e2738;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
    margin-top: 0px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 0px;
}

.features-inner h2 span {
    font-weight: 700;
}

.referral-text {
    background: rgb(7, 28, 34);
    background: -moz-linear-gradient(top, rgba(7, 28, 34, 1) 0%, rgba(2, 15, 18, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(7, 28, 34, 1) 0%, rgba(2, 15, 18, 1) 100%);
    background: linear-gradient(to bottom, rgba(7, 28, 34, 1) 0%, rgba(2, 15, 18, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#071c22', endColorstr='#020f12', GradientType=0);
    border-radius: 16px;
    padding: 20px;
    float: left;
    width: 440px;
    font-weight: 600;
}


.featureswrap {
    background: #584D39;
    padding: 50px 0 120px;
}

.featuresbox {
    width: 33.33%;
    float: left;
    margin: 0 0 30px;
}

.featuresbox .left {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}

.featuresbox .right {
    width: 100%;
    float: left;
    text-align: center;
}

.featuresbox .right h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 8px;
    text-transform: none;
}

.featuresbox .right p {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.features-content {
    padding: 20px 20px 0px;
    overflow: hidden;
    margin: 10px;
    min-height: 200px;
    margin-bottom: 0px;
}

.referralwrap {
    /*background: url(images/bg-affiliates.png) repeat-y center;*/
}


.referralwrap .trading-wrap {

    overflow: hidden;

}

.trading-left {
    float: left;
    width: 48%;
}

.trading-right {
    float: right;
    width: 48%;
}


.trading-left img {
    float: left;
    margin-top: 10px;
}

.trading-right img {
    float: right;
    margin-top: 20px;
}


.trading-text {
    float: right;
    text-align: right;
    width: 370px;
}

.trading-right .trading-text {
    float: left;
    text-align: left;
}

.referralwrap h3 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 20px;
}

.referralwrap h3 span {
    color: #14a7fa;
}


.trading-right p {
    text-align: left;
    font-size: 14px;
}

.trading-left p {
    text-align: right;
    font-size: 14px;
}

.trading-text h2 {
    color: #42bf8c;
    font-size: 30px;
}


.trading-text h4 {
    color: #baa582;
    font-size: 18px;
}


.referralwrap a {
    background: #f7b016;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin: 35px 0 0 0;
}

.referralwrap a:hover {
    background: #177db6;
    color: #fff
}

.referralwrap .icon {
    display: inline-block;
    margin: -60px 0 0 0;
    padding: 0 0 25px;
}

.referralwrap .email-wrap a {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    float: none;
    background: none;
    color: #031014;
    padding-left: 0px;
}


.referralwrap .email-wrap h2 {
    font-size: 48px;
    width: 880px;
    margin-top: 0px;
    padding-left: 0px;
}

.paymenticons {
    padding: 40px 0;
    text-align: center;
    background: #02131c;
}

.paymenticons h4 {
    font-size: 24px;
    margin: 0 0 15px;
}

.paymenticons p {
    margin: 0;
    text-align: center;
}

.footerwrap {
    background: #100D08;
    padding: 45px 0 30px;
    font-weight: 600;
}

.copyright, .footerlinks {
    float: left;
    width: 50%;
    font-weight: 600;
    text-transform: uppercase;
}

.footerlinks a {
    padding: 0px 8px;
    color: #ffffff;
}

.footerlinks {
    text-align: right;
    color: #F5DA3A;
}

.footerlinks p {
    text-align: right;
}

.processors-container {
    /*background: #F5DA3A;*/
    background: rgb(60, 126, 95);
    background: linear-gradient(124deg, rgba(60, 126, 95, 1) 0%, rgba(38, 140, 148, 1) 45%);
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0px 30px;
}

.processors-container h2 {
    color: #14110b;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media (max-width: 1170px) {
    .inside_wrap.wrapper, .headerwrap, .statwrap, .investmentwrap, .welcomewrap, .startedwrap, .lasttenstat, .featureswrap, .referralwrap, .paymenticons, .calswrap, .footerwrap, .inside_wrap, .processors-container, .loginpage {
        width: 1170px;
    }

    .content {
        margin: 0 !important;
    }
}

.inside_wrap, .loginpage {
    padding: 80px 0 80px;
    background: rgb(20, 26, 40);
}

.affiliatepage {
    padding: 40px 0 40px;
}

.faq .panel-default {
    border: none;
}

.faq .panel-default > .panel-heading {
    color: #92521C;
    background: #45439d;
    border-radius: 36px;
    padding: 5px;
    margin-bottom: 6px;
}

.faq .panel-title {
    font-size: 15px;
    text-transform: uppercase;
    /*background: url(images/faq.png) no-repeat left 15px center*/
}

.faq .panel-title > .small, .faq .panel-title > .small > a, .faq .panel-title > a, .panel-title > small, .faq .panel-title > small > a {
    color: #ffffff;
    padding: 15px 15px 15px 60px;
    display: block;
    border: none;
    font-weight: 600;
}

.faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0px;
}

.faq .panel {
    background-color: transparent;
}

.news_block {
    width: 100%;
    float: left;
    padding: 30px;
    background: #45439d;
    border-radius: 26px;
    margin: 0 0 30px;
}

.news_title {
    color: #271e11;
    font-size: 20px;
    margin: 0 0 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.news_title span {
    font-size: 11px;
    color: #b93f1a;
    float: right;
}

.news_infos {
    padding: 15px 0;
    line-height: 26px;
    color: #443d2c;
}

.newsicon {
    width: 100px;
    height: 128px;
    float: left;
    padding: 0 20px 0 0;
}

.affbox {
    width: 48%;
    background: #268c94;
    border-radius: 5px;
    padding: 35px 25px;
    position: relative;
    margin: 10px 0 25px;
    min-height: 300px;
    color: #ffffff;
}

.affbox.left {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affbox.right {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affleft {
    width: 75%;
    float: right;
    padding: 0 0px 0px 30px;
}

.affleft p {
    margin: 0;
    min-height: 195px;
    font-weight: 500;
    color: #ffffff;
}

.affbox h3 {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    text-transform: none;
    margin: 5px 0 15px;
    font-weight: 600;
}

.affright {
    width: 25%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supportleft {
    width: 48%;
    float: right;
}

.headinfo {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;

}

.account-balance {
    padding: 30px 30px 25px;
    background: #2b2416;
    border-radius: 0px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    clear: both;
    font-size: 20px;

}

.account-balance span {
    font-weight: bold;
    color: #268d94;
}

.supportleft strong {
    color: #f7b016;
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 20px;
    display: block;
    text-transform: uppercase;
}

.supportleft h2 {
    background: #268d94;
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
}

.supportleft h2 a {
    color: #fff;
    float: right
}

.supportleft h3 {
    background: #1e2738;
    border-radius: 50px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
}

.supportleft p {
    margin: 0 0 24px;
}

.supportright {
    width: 48%;
    float: left;
}

.form-block {
    padding: 0 0 10px;
}

.form-block textarea {
    max-height: 100px;
}

.form-block .sbmt {
    margin: 20px 0 0 0;
}

.rules {

    margin: 0 0 15px;
    padding: 10px 0px;
    border-radius: 15px;
    width: 100%;
    float: left;
}

h3.sectionhead, .deposit_text, .refheader {
    color: #eda70f;
    font-size: 20px;
    font-weight: 600;

}

.deposit_text {
    color: #fff;
    width: 100%;
    float: left;
    font-weight: 600;
    font-size: 24px;
}

.deposit_text span {
    color: #eda70f;
}

.headerwrap.insideheaders {
    min-height: auto;
    background-position: center -190px;
}

.headerwrap.insideheaders .bannerwrap {
    padding: 60px 0;
}

.headerwrap.insideheaders .bannerwrap h1 {
    text-align: left;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 600;
}

.headerwrap.insideheaders .bannerwrap h1 span {
    color: #42bf8c;
    /*color: */
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #15120B;
    border-color: #15120B transparent #15120B transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}


.loginwrappers {
    margin: 0 auto;
    max-width: 450px;
    background: #45439d;
    border-radius: 36px;
    box-shadow: 0 0 5px #00000096;
    padding: 30px 35px 35px 35px;
    overflow: hidden;
}

.loginwrappers img {
    margin-bottom: 20px;
}

.loginwrappers table td {
    padding: 8px 0;
}

.loginwrappers .logo {
    width: 100%;
    text-align: center;
}

.loginwrappers h3 {
    text-align: center;
    width: 100%;
    float: left;
    text-transform: none;
    font-size: 24px;
    margin: 30px 0;
    color: #15120B;

}

.loginwrappers p {
    text-align: center;
    width: 100%;
    float: left;
}

.afterloginheaderblock {
    background: #092838;
    float: left;
    margin: 0 10px 0 0;
    padding: 4px 20px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
}

.afterloginheaderblock .icon {
    float: left;
    margin: 0 10px 0 0;
}

.afterloginheaderblock span {
    color: #fbbc14;
    font-weight: 600;
}

.membersidebar {
    width: 26%;
    float: left;
    border-radius: 15px;
    padding: 0px;
    text-align: center;
}

.myaccount_wrap {
    width: 70%;
    float: right;
}

.welcome {
    width: 100%;
    float: left;
    border-bottom: 0px;
    padding: 20px 0 20px;
    margin: 0 0 0px;

}

.welcome .icon {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0 0 10px;
}

.welcome h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
}

.welcome h2 span {
    color: #268d94;
    font-weight: 400;
}

.navbar {
    width: 100%;
    float: left;
    margin: 0;
}

.navigation li {
    line-height: 44px;
    text-align: left;
}

.navigation li:last-child {
    border: none
}

.navigation li a {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    background: #268c94;
    padding-left: 24px;
    border-radius: 36px;
    margin-bottom: 6px;
}

.navigation li a:hover {
    color: #ffffff;
    background: #f94d4e;
}

.navigation li a.active {
    color: #ffffff;
    background: #f94d4e;
}

.navigation li span {
    display: none
}

.refcopy {
    background: #1e2738;
    border-radius: 15px 15px 0px 0px;
    padding: 20px 15px;
    margin: 20px 0 0px;
    width: 100%;
    float: left;
}

.refcopy button#copyButton {
    background: url(images/copy.png) no-repeat left center;
    border: none;
    width: 44px;
    height: 44px;
    float: left;
}

.refcopy #copyTarget {
    height: 44px;
    background: #15120B;
    color: #ffffff;
    border: none;
    padding: 0 20px;
    float: left;
    width: 520px;
    border-radius: 36px;
    font-weight: 600;

}

.refcopy .getban {
    background: rgb(23, 125, 182);
    border-radius: 40px;
    line-height: 44px;
    float: right;
}

.refcopy .getban a {
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    padding: 0 35px;
    display: block;
    text-transform: uppercase;
    background: #42bf8c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af6b1c', endColorstr='#8f501c', GradientType=0);
    border-radius: 36px;
}

.refcopy .getban:hover {
    background: #9d4543;
}

.accbox.left {
    float: left;
}

.accbox.right {
    float: right;
    /*background: #251f13;*/
}

.accbox {
    width: 50%;
    background: #1e2738;
    border-radius: 0px;
    padding: 25px;
    text-align: center;
    border-top: 3px solid #45439d;
}

.accbox .icon {
    width: 94px;
    height: 94px;
    margin: 0 auto 20px;
    background: #268d94;
    border-radius: 100%;
    padding-top: 8px;
}

.accbox h3 {
    text-transform: uppercase;
    margin: 0px;
    font-size: 16px;
    line-height: 32px;
    padding: 0 0 15px;
    font-weight: 600;
}

.accbox h3 span {
    display: block;
    color: #268d94;
    font-size: 30px;
}

.accbox ul {
    width: 100%;
    float: left;
    background: #268d94;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 0 0 25px;
    color: #ffffff;
    font-weight: 600;
}

.accbox ul li {
    border-bottom: 1px solid #ffffff;
    line-height: 30px;
    text-align: left;
}

.accbox ul li:last-child {
    border: none
}

.accbox ul li span {
    float: right;
    /*color: #a04103;*/
    font-weight: 600;
}

.acc_button {
    width: 100%;
    float: left;
}

.acc_button a {
    background: #42bf8c;
    color: #fff;
    height: 45px;
    line-height: 45px;
    width: 100%;
    border-radius: 40px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 200px;
    margin: 10px auto 20px;
}

.acc_button a:hover {
    background: #f94d4e;
    color: #fff
}

.my_accont {
    width: 100%;
    float: left;
    margin: 0 0 20px;
    background: #201910;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000096;
}

.my_accont table td, .my_accont table th {
    border-bottom: 1px solid #44311e;
    padding: 7px;
    text-align: left;
}

.my_accont table td.inheader {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    background: #268d94;
    border-bottom: 1px solid #268d94;
}

.alert {
    text-align: center;
    color: white;
    background-color: #d2592a;
    border-color: #e87244;
    padding: 5px 15px;
}

.refpage {
    width: 100%;
    float: left;
    padding: 0 0 15px;
}

.refpage .accbox h3 {
    border: none;
    padding: 0;
    margin: 0;
}

.aff-banners .nav-tabs {
    border: none;
    padding: 0 0 35px;
}

.aff-banners .nav-tabs > li {
    background: rgb(175, 107, 28);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af6b1c', endColorstr='#8f501c', GradientType=0);
    border-radius: 50px;
    margin: 0 10px 0 0;
}

.aff-banners .nav-tabs > li > a {
    margin-right: 0;
    border: none;
    font-weight: 600;
    padding: 8px 25px;
    color: white;
}

.aff-banners .nav-tabs > li a:hover {
    background: rgb(175, 107, 28);
    border: none;
    border-radius: 50px;
}

.aff-banners .nav-tabs > li.active > a, .aff-banners .nav-tabs > li.active > a:focus, .aff-banners .nav-tabs > li.active > a:hover {
    color: #15120B;
    background: #F4D836;
    border: none;
    border-radius: 50px;
}

.refheader {
    font-size: 18px;
    text-transform: uppercase;
    color: #eda70f;
    margin: 10px 0 15px;
    font-weight: 600;
}

#amttospd {
    background: #15120b;
    color: #fff;
    font-weight: 600;
    border-color: #383020;
}

.accountmainpage .col {
    position: relative;
    width: 404px;
    min-height: 180px;
}

.accountmainpage .col ul {
    margin: 0px 15px;
}


.accountmainpage .col li {
    font-size: 12px;
}

.accountmainpage .plans-top {
    float: none;
    width: auto;
}

.accountmainpage .plans-top h2 {
    color: #45439d;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
}

.accountmainpage .plans-top h2 span {
    font-size: 30px;
    color: white;
    padding-left: 5px;
}

.accountmainpage .col .radio {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 3px solid transparent;
    height: 100%;
    margin: 0;
    text-indent: -999em;
}

.accountmainpage .col input[type=radio] {
    display: none
}

.accountmainpage .col input[type="radio"]:checked + .radio {
    border-color: #f9be31;
}


.dropdown {
    position: relative;
    outline: none;
    /*float: left;*/
    /*display: inline-block;*/
    /*max-width: 5px;*/
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
    position: absolute;
    top: -7px;
    left: -69px;
}
